<div>
    <div>
        <button (click)="onAdd()" mat-mini-fab color="primary" matTooltip="Nuevo Empleado">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div>
        <app-best-employee [employee]="bestEmployee$ | async"></app-best-employee>
    </div>
    <div>
        <app-employee-list [employees] = "employees$ | async" 
        (viewDetails)="viewDetails($event)" 
        (delete)="onDelete($event)"></app-employee-list>
        <div>
            <mat-paginator [length]="length$ | async" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
            (page)="changePage($event)">

            </mat-paginator>
        </div>
    </div>
</div>
