<div>
    <div>
        <mat-tab-group>
            <mat-tab label="Tabla">
                <app-product-table-list [items]="products$ | async" 
                (edit)="onEdit($event)" (delete)="onDelete($event)"></app-product-table-list>
            </mat-tab>
            <mat-tab label="Cards">
                <app-product-card-list [items]="products$ | async"></app-product-card-list>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div>
        <mat-paginator 
        [length]="totalRecords$ | async" 
        [pageSize]="pageSize"
        [pageSizeOptions]="pageSizeOptions"
        (page)="changePage($event)"></mat-paginator>
    </div>
</div>