<div>
    <div>
        <div>
            <span mat-dialog-title class="modal-title">Seleccionar Cliente</span></div>
    </div>
    <mat-divider></mat-divider>
    <div>
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Company</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of customers">
                    <td>{{item.name}}</td>
                    <td>{{item.company}}</td>
                    <td>
                        <mat-radio-button (change)="onSelect($event,item)">

                        </mat-radio-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="button-container">
        <button mat-flat-button mat-dialog-close color="warn">Cancelar</button>
        <button mat-flat-button color="primary" (click)="selectRow()">Seleccionar</button>

    </div>
</div>