.order-id{
    display: flex;
}

.order-container{
    display: flex;
    flex-direction: row;
    .search-container{
        width: 15%;
        display: flex;
    }
    .result-container{
        width: 85%;
    }
}