<div class="order-container">
    <div class="search-container">
        <form [formGroup]="searchForm" (submit)="search()">
            <div class="date-from">
                <mat-form-field>
                    <input matInput [matDatepicker]="dateFrom" placeholder="Fecha Desde" formControlName="dateFrom">
                    <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
                    <mat-datepicker #dateFrom></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="date-to">
                <mat-form-field>
                    <input matInput [matDatepicker]="dateTo" placeholder="Fecha Hasta" formControlName="dateTo">
                    <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
                    <mat-datepicker #dateTo></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="status">
                <mat-form-field>
                    <mat-label>Select an Status</mat-label>
                    <mat-select formControlName="status">
                        <mat-option *ngFor="let estado of statusList" 
                        [value]="estado.StatusId">{{estado.StatusName}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button type="submit" 
                [disabled]="!searchForm.valid || !searchForm.dirty"
                color="primary">Buscar</button>
            </div>
        </form>
    </div>
    <div class="result-container">
        <app-table-view #tableView [items]="orders$ | async" [columns]="this.columns" [detailTemplate]="detailTemplate">
        </app-table-view>
        <div>
            <mat-paginator *ngIf="(length$ | async) > 0" [length]="length$ | async" [pageSize]="pageSize"
                [pageSizeOptions]="pageSizeOptions" (page)="changePage($event)">
            </mat-paginator>
        </div>

        <ng-template let-row="row" let-expanded="expanded" ngx-datatable-cell-template #orderIdCellTemplate>
            <div class="order-id">
                <div>
                    <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded"
                        [class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
                        (click)="toggleExpandRow(row)">
                    </a>
                </div>
                <div>
                    {{ row.orderId }}
                </div>
            </div>
        </ng-template>

        <ng-template #orderDateCellTemplate let-row="row" ngx-datatable-cell-template>
            {{row.orderDate | date : 'mediumDate' }}
        </ng-template>

        <ng-template #accionesCellTemplate let-row="row" ngx-datatable-cell-template>
            <button mat-icon-button (click)="onRemoveOrder(row.orderId)">
                <mat-icon>delete_forever</mat-icon>
            </button>
            <button mat-icon-button (click)="onViewDetail(row.orderId)">
                <mat-icon>edit</mat-icon>
            </button>
        </ng-template>

        <ng-template #detailTemplate let-row="row">
            <div>
                <div><strong>Detalle</strong></div>
                <div>
                    <app-table-view #detailTableView [items]="row.data.data" [columns]="this.detailColumns"
                        [minTableHeight]="0"></app-table-view>
                </div>
                <div>
                    <mat-list>
                        <mat-list-item> Total Valor Venta:
                            {{row.data.totalValorVenta | currency:"USD"}}
                        </mat-list-item>
                        <mat-list-item>
                            IGV: {{row.data.impuestoGeneralVentas | currency:"USD"}}
                        </mat-list-item>
                        <mat-list-item>
                            Importe Total: {{row.data.importeTotal | currency:"USD"}}
                        </mat-list-item>
                    </mat-list>
                </div>
            </div>
        </ng-template>
    </div>
</div>