<div class="table-results-base"
 [ngStyle]="{ 'min-height': minTableHeight+'px' }">
    <div *ngIf="items && items.length > 0">
        <ngx-datatable #myTable  class='material ngx-table' [columnMode]="'flex'" 
        [headerHeight]="50" [footerHeight]="0"
            [rowHeight]="50" [rows]='items'>

            <ngx-datatable-column *ngFor='let column of tableColumns'
            [name]="column.name"
            [prop]="column.prop"
            [flexGrow]="column.flexGrow"
            [cellTemplate]="column.cellTemplate" >

            </ngx-datatable-column>

            <ngx-datatable-row-detail #myDetailRow>
                <ng-template let-row="row" let-expanded="expanded" ngx-datatable-row-detail-template>
                    <ng-container [ngTemplateOutlet]="detailTemplate" 
                                    [ngTemplateOutletContext]="{row:row}">
                    </ng-container>
                </ng-template>
            </ngx-datatable-row-detail>
        </ngx-datatable>
    </div>
    <div *ngIf="items.length === 0">
        <p class="medium-font-color">There are no items at this time.</p>
    </div>
</div>