.button-container{
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.row-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}