/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.employee-modal-dialog{
    width: 50%;
    height: 50%;
    max-width: 50% !important;
}